div
{
  position: absolute;
  margin: auto;
  top: -40vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

img
{
    position: absolute;
    margin: auto;
    top: 20vh;
    right: 0;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 125px;
    border-radius: 3px;

}