body {
    background: image('aus-flag.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div {
    width: 300px;
    height: 100px;
    /* background-color: white; */
    color: white;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 8vh;
    margin: auto;
}